<div class="promo-block parallax-window" data-parallax="scroll" data-image-src="img/1920x1080/01.jpg" style="overflow-y: scroll">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="promo-block-divider">
                    <h1 class="promo-block-title"><%= theme.first_name %> <br/> <%= theme.last_name %></h1>
                    <p class="promo-block-text"><% theme.job_title.forEach((element, i) => { %>
                        <% if (i > 0) { %>&amp;<% } %> <%= element %> <% }) %></p>
                </div>
                <ul class="list-inline">
                    <% for (var i in theme.social){ %>
                        <li><a href="<%- url_for(theme.social[i]) %>" class="social-icons"><i class="<%= i %>"></i></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>